html * {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 320px;
}

html {
  font-family: "Roboto", sans-serif;
  padding: 20px;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

h3 {
  font-size: 10px;
}

.container {
  max-width: 320px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

#horizontal {
  width: 25px;
  text-align: left;
  margin: 0 auto 5px 14px;
  border: 1px solid black;
}

.indepth-info {
  color: #4545;
  font-size: 11px;
  padding: 10px;
  margin: 10px 0;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

#img-logo {
  width: 50px;
  height: 55px;
  border-radius: 50%;
  background-color: rgb(135, 192, 135);
}

a {
  text-decoration: none;
}

.who {
  padding: 0;
  position: relative;
  top: 15px;
  left: 10px;
}

#brand-info {
  font-size: 10px;
  text-transform: lowercase;
  color: snow;
  letter-spacing: 3px;
}

/* hotel item */
.hotel-item {
  min-width: 150px;
  max-width: 160px;
  margin-right: 10px;
  pointer-events: none;
}

.hotel-item .hotel-image img {
  width: 150px;
  height: 100px;
  border-radius: 4px;
  overflow: hidden;
}

.hotel-item.card {
  padding: 10px;
  display: flex;
  align-items: center;
  min-width: 180px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.hotel-item.card img {
  max-width: 40px;
  margin-right: 10px;
}

/* hotel img  */
.hotel-desription img {
  width: 50px;
  padding-right: 3px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgb(135, 192, 135);
}

/* Stars */
#active {
  color: goldenrod;
}

#inactive {
  color: #aaa;
}
